.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text_center {
    display: flex;
    justify-content: center;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
}

.card-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 100px;
  margin-right: 24px;
  margin-left: 24px;
  padding-bottom: 96px; 
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
    
    font-size: 18px;
    line-height: 22px;
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    width: 100%;
    
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.address a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.address p {
    margin: 0;
    padding: 0;
    display: inline;
}

.cover {
    position: relative;
    margin-bottom: 180px;
    
    min-height: 757px;
    padding-top: 165px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between; /* Текст слева, кнопка справа */
    align-items: center;
    color: white;
}

.cover__description-text {
    max-width: 640px;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    border-radius: 0;
    padding: 12px 32px; /* Паддинги кнопки */
    height: 52px;
    
    outline: 1px solid white;
    border: none;
    background-color: transparent;
    
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap; /* Чтобы текст кнопки не ломался */
}

.lots {
    display: flex;
    flex-direction: column;
    padding: 0 24px; /* Отступы по бокам */
    margin-bottom: 180px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-position: center;
    background-size: cover;
    
    height: 100%;
    padding: 48px 40px;
    color: white;
    z-index: 1;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    margin-top: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    color: black;
    text-decoration: underline;
    width: fit-content;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 24px;
    margin-bottom: 180px;
    align-items: start;
}

.about__column:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 148px;
}

.about__column:last-child {
    padding-top: 85px; /* Паддинг для выоавнивания по центру */
}

.about__title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.about__text-grouped {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Выравнивание по верху */
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 88px; /* Отступ снизу страницы */
}

.address__footer {
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    
    font-size: 18px;
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
    color: black;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}